@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Lato:wght@400;700&display=swap');
// font-family: 'Didact Gothic', sans-serif;
// font-family: 'Lato', sans-serif;
@import url("https://use.typekit.net/jvs5tio.css");
// font-family: reross-quadratic, sans-serif;
// font-weight: 400;
// font-style: normal;
@import './assets/sass/variables';
@import './assets/sass/mixins';
@import './assets/sass/contact';
@import './assets/sass/nav';
@import './assets/sass/search';
@import './assets/sass/season';
@import './assets/sass/episode';
@import './assets/sass/responsive';

body {
  margin: 0;
  padding: 0;
  height: 100%;
  // width: 100%;
  // border: 1px blue solid;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


main {
  background-color: white;
  // width: 100vw;
  max-width: 100%;
  height: auto;
  // border: 1px yellow solid;
  font-family: 'Lato', sans-serif;
}


.invalid {
  color: $secondary;
}

.bubble {
  border: 1px rebeccapurple solid;
}

.close {
  color: $secondary;
}

