/* Nav */

.navBar {
  background-color: lightgray;
  padding: 3% 3% 3% 3%;
  // border: 1px green solid;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 14pt;
  span {
    font-size: 14pt;
    font-weight: bold;
  }
}