display: block;
    /* position: absolute; */
    background-color: white;
    /* min-width: 230px; */
    /* width: 70%; */
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;


box-sizing: border-box; */
    /* background-position: 14px 12px; */
    /* background-repeat: no-repeat; */
    width: 80%;
    font-size: 16px;
    padding: 15px 20px 15px 15px;
    border: 1px solid #fff471;
    /* border-bottom: 1px solid #fff471;